* {
  margin: 0;
}
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  order: 1;
  height: 500px;
}

#nomeSobrenome {
  display: flex;
}

#emailCasa {
  display: flex;
}

#avalia {
  display: flex;
}

#agree {
  display: flex;
}

